@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.page.theme-light {
  --color-primary: #1e272e;
  --color-secondary: #485460;
  --color-invert: #d2dae2;
}

.page.theme-dark {
  --color-primary: #05c46b;
  --color-secondary: #dcdde1;
  --color-invert: #1e272e;
}

.page {
  /* background-color: var(--color-invert); */
  transition: background-color 0.3s;

  & div {
    transition: color 0.3s, border-color 0.3s;
  }
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;

  & * {
    box-sizing: border-box;
  }
}

html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: unset;
}

.content-full-height {
  min-height: calc(100vh - 8rem - 7rem);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
